<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
  <style>
  .header {  background-color: #240B36;
    color: White;
    padding: 15px;
    margin: -10px;}

    body {font-family: "Lucida Console";}

    .login{margin-left: 25px;}

    .error{color:red;}
  </style>



    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
    <div class="header">

    <h2>Unigames Staff Login</h2>

    </div>
    <br><br>
    <div class="error">
    {% block content %}
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
  </div>
    <br><br>

    <div class="login">

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <div>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </div>
    <br>
    <div>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </div>
    <br>
    <div>
      <input type="submit" value="Login" />
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
    </form>
   <br>
        <a href="/library/">Library Home</a>

    </p>

    {% endblock %}
  </div>
</body>
</html>
