
.search-tab {
    height: 50px;
    width: 50%;
    margin: auto;
}

.search_bar {
    margin: auto;
    width: 50%;

    position: relative;
}

.search_bar input[type=text] {
    font-size: 17px;
    width: 99%;
}

.suggestion {
    border: 1px solid #d4d4d4;
    width: 100%;
    z-index: 99;
    display: none;
}

.suggestion-item {
    font-size: 17px;
}

table, th, td {
    border: 1px solid black;
    margin: auto;
}

td {
    padding: 10px;
}