.child_tags {
    padding-left:1em;
}

form {
    display: inline;
}

.tag-selections {
    display: flex;
    flex-flow: row;
}

.content {
  margin-left: 35px;
  margin-right: 35px;
}


.button{
  background-color: #240B36;
  color: white;
  padding: 15px;
  border: none;
  font-family: "Lucida Console";
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #62526e;
}