{% extends 'libapp/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'libapp/library.css'%}">

<h1>Edit Asset</h1>
<form method="POST" autocomplete="off">
    {% csrf_token %}
    {{form.name.label }}: {{ form.name }}<p></p>
    {{form.pub_notes.label }}: {{ form.pub_notes }}<p></p>
    {{form.priv_notes.label }}: {{ form.priv_notes }}<p></p>

    <h2>Add or remove tags</h2>
    <h3>Quick Search</h3>
    <input name="q" type="text" placeholder="Search.." id="input" onkeyup="search_tag(this)">
    <p></p>
    {% for value, label, tag in form.tags.field.choices %}
            {% if not tag.parent %} <!--If no parents -->
                {% if tag.build_hierarchy %}
                    {% for child_tag in tag.build_hierarchy %}
                        {% if child_tag == "indent" %}
                            <div class="child_tags">
                        {% elif child_tag == "dedent" %}
                            </div>
                        {% elif forloop.counter0 == 0 %}
                        <div class="root_tag" value='{{ child_tag.id }}'>
                        
                            {% if child_tag in asset_tags %}
                                <input type="checkbox" value="{{ child_tag.id }}" name="tags" checked="checked">
                                {{ child_tag.name }}
                            {% else %}
                                <input type="checkbox" value="{{ child_tag.id }}" name="tags">
                                {{ child_tag.name }}
                            {% endif %}
                        {% elif child_tag in asset_tags %}
                            <span style='font-size:15px;'>&#8627;</span>
                            <input type="checkbox" class="{{ child_tag.id }}" value="{{ child_tag.id }}" name="tags" checked="checked" onchange="find_same_tags(this)">
                                {{ child_tag.name }}<br>
                        {% else %}
                            <span style='font-size:15px;'>&#8627;</span>
                            <input type="checkbox" class="{{ child_tag.id }}" value="{{ child_tag.id }}" name="tags" onchange="find_same_tags(this)">
                                {{ child_tag.name }}<br>
                        {% endif %}
                    {% endfor %}
                    <p></p>
                {% endif %}
            {% endif %}
            
            
        {% endfor %}
    <input type="submit" value="submit">
</form>
<script src="{% static 'libapp/asset-edit.js' %}"></script>
{% endblock %}
