{% extends 'libapp/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'libapp/asset-create.css'%}">

<h1>Create New Asset</h1>
<p>Enter name, notes, select tags and hit create!</p><br>
<input type="submit" value="Create Asset"><br><br>
<form method="POST" autocomplete="off">
  {% csrf_token %}

  {{form.name.label }}: {{ form.name }}<p></p>
  {{form.pub_notes.label }}: {{ form.pub_notes }}<p></p>
  {{form.priv_notes.label }}: {{ form.priv_notes }}<p></p>

  <br><br>


    <h2>Link to Tags</h2>
    <h3>Quick Search</h3>
    <input name="q" type="text" placeholder="Search.." id="input" onkeyup="search_tag(this)">
    <p></p>
    {% for value, label, tag in form.tags.field.choices %}
        {% if not tag.parent %} <!--If no parents -->
            {% if tag.build_hierarchy %}
                {% for child_tag in tag.build_hierarchy %}
                    {% if child_tag == "indent" %}
                        <div class="child_tags">
                    {% elif child_tag == "dedent" %}
                        </div>
                    {% elif forloop.counter0 == 0 %}
                    <div class="root_tag" value='{{ child_tag.id }}'>
                        <input type="checkbox" value="{{ child_tag.id }}" name="tags">
                        {{ child_tag.name }}

                    {% else %}
                        <span style='font-size:15px;'>&#8627;</span>
                        <input type="checkbox" class="{{ child_tag.id }}" value="{{ child_tag.id }}" name="tags" onchange="find_same_tags(this)">
                            {{ child_tag.name }}<br>
                    {% endif %}
                {% endfor %}
                <p></p>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

</form>
<script src="{% static 'libapp/asset-create.js' %}"></script>
{% endblock %}
