<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UniGames Library</title>
</head>
<body>
    <div class="navbar">
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
    {% else %}
        <p>Welcome, new user. Please <a href="/accounts/login">log in.</a></p>
    {% endif %}
      <a href="/library/">Home</a><br>
      <a href="/library/asset-create/">Create asset</a><br>
      <a href="/library/tag-create/">Create tag</a><br>
      <a href='/library/tag-link'>Link tag</a><br>
      <a href = '/accounts/logout'> Log out</a>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>
