

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'libapp/library.css'%}">

<!DOCTYPE html>
<html>
    <head>

            <meta charset="UTF-8">
            <title>Library Database</title>
        </head>
    <body>
        <h1>Library Database</h1>
        <a href="asset-create/">Create asset</a><br>
        <a href="tag-create/">Create tag</a><br>
        <a href="tag-link/">Link tags</a><br>
        <div class="search_bar" id="search-bar">
   
            <form method="GET" autocomplete="off">
                {% if option == "" %}
                    <input type="radio" id="asset" name="option" value="asset" checked="checked">
                {% elif option == "asset" %}
                    <input type="radio" id="asset" name="option" value="asset" checked="checked">
                {% else %}
                    <input type="radio" id="asset" name="option" value="asset">
                {% endif %}
                <label for="asset">Asset</label>
                {% if option == "tag" %}
                    <input type="radio" id="tag" name="option" value="tag" checked="checked">
                {% else %}
                    <input type="radio" id="tag" name="option" value="tag">
                {% endif %}
                <label for="tag">Tag</label>
                <p></p>
                <input name="q" type="text" placeholder="Search.." id="input">
            </form>
            <div class="suggestion">


            </div>
        </div>
        {% if asset_dict %}
            <table>
                <tr>
                    <th>Asset</th>
                    <th>Tags</th>
                    <th>Public Notes</th>
                    <th>Private Notes</th>
                </tr>
                {% for asset, hierarchy in asset_dict.items %}
                <tr>
                    <td><a href='asset-edit/?asset={{ asset.name }}'>{{ asset.name }}</a></td>
                    <td>
                    {% for item in hierarchy %}
                        {% if item == "indent" %}
                            <div class="child_tags">
                            <span style='font-size:15px;'>&#8627;</span>
                        {% elif item == "dedent" %}
                            </div>
                        {% else %}
                            {{ item.name }}<br>
                        {% endif %}
                    {% endfor %}
                    </td>
                    <td>
                        {{ asset.pub_notes }}
                    </td>
                    <td>
                        {{ asset.priv_notes }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            {{ error_msg }}
        {% endif %}
    </body>
</html>