
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'libapp/search.css'%}">

<!DOCTYPE html>
<html>
    <head>

            <meta charset="UTF-8">
            <title>Search</title>
        </head>
    <body>
        <div class="search_bar" id="search-bar">
        
            <form action='search-result' method="GET" autocomplete="off">
                <input type="radio" id="asset" name="option" value="asset" checked="checked">
                <label for="asset">Asset</label>
                <input type="radio" id="tag" name="option" value="tag">
                <label for="tag">Tag</label>
                <p></p>
                <input name="q" type="text" placeholder="Search.." id="input">
            </form>
            <div class="suggestion">


            </div>
        </div>
        
    </body>
    <!--<script type="text/javascript" src="{% static 'libapp/search.js' %}"></script>-->
</html>