{% extends 'libapp/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'libapp/tag-create.css'%}">

<h1> Create a tag! </h1>
<form  method="POST" autocomplete="off">
    {% csrf_token %}
    {{form.name.label }}: {{ form.name }}<p></p>
    <br>
    {{ form.alt_names.label }}<p></p>
    {{ form.alt_names }}<p></p>
    <br>
    Assign Parent Tags<br>
    {% for value, label, tag in form.parent_tags.field.choices %}
        {% if not tag.parent %} <!--If no parents -->
            {% if tag.build_hierarchy %}
                {% for child_tag in tag.build_hierarchy %}
                    {% if child_tag == "indent" %}
                        <div class="child_tags">
                        
                    {% elif child_tag == "dedent" %}
                        </div>
                    {% elif forloop.counter0 == 0 %}
                        <input type="checkbox" value="{{ child_tag.id }}" name="parent_tags">
                        {{ child_tag.name }}<br>
                    {% else %}
                    <span style='font-size:15px;'>&#8627;</span>
                    <input type="checkbox" value="{{ child_tag.id }}" name="parent_tags">
                        {{ child_tag.name }}<br>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
    <br>
    {% endfor %}

  <input type="submit" value="Submit">
</form>

{% endblock %}
