{% extends 'libapp/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'libapp/tag-create.css'%}">
<div class="content">
  <br>
<h2> Create a tag! </h2><hr><br>


<form  method="POST" autocomplete="off">
  <input class="button" type="submit" value="Create Tag"><br><br><hr><br>
    {% csrf_token %}
    {{form.name.label }}: {{ form.name }}<br><br><hr><br>
    {{ form.alt_names.label }}
    {{ form.alt_names }}<br><br><hr>
    <h3>Assign Parent Tags</h3>
    <h4>Quick Search</h4>
    <input name="q" type="text" placeholder="Search.." id="input" onkeyup="search_tag(this)">
    <hr>
    {% for value, label, tag in form.parent_tags.field.choices %}
        {% if not tag.parent %} <!--If no parents -->
            {% if tag.build_hierarchy %}
                {% for child_tag in tag.build_hierarchy %}
                    {% if child_tag == "indent" %}
                        <div class="child_tags">
                    {% elif child_tag == "dedent" %}
                        </div>
                    {% elif forloop.counter0 == 0 %}
                    <div class="root_tag" value='{{ child_tag.id }}'>
                        <input type="checkbox" value="{{ child_tag.id }}" name="parent_tags">
                        {{ child_tag.name }}

                    {% else %}
                        <span style='font-size:15px;'>&#8627;</span>
                        <input type="checkbox" class="{{ child_tag.id }}" value="{{ child_tag.id }}" name="parent_tags" onchange="find_same_tags(this)">
                            {{ child_tag.name }}
                    {% endif %}
                {% endfor %}
                <br><br>
            {% endif %}
        {% endif %}
    {% endfor %}


</form>
<script src="{% static 'libapp/tag-create.js' %}"></script>
{% endblock %}
</div>
