{% extends 'libapp/base.html' %}
{% load static %}
{% block content %}
<div class="content">
  <br>
<link rel="stylesheet" type="text/css" href="{% static 'libapp/tag-create.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'libapp/tag-edit.css'%}">

<h1> Edit the {{ tag.name }} tag! </h1>
<hr><br>
<form  method="POST" autocomplete="off">
    {% csrf_token %}
    {{form.name.label }}: {{ form.name }}<p></p>
    <br>
    {{ form.new_alts.label }}<p></p>
    {{ form.new_alts }}<p></p>

    <hr><br>
<p></p>
    <button onclick="location.href='/library/tag-link'">Go Back</button>
    <input type="submit" class="submit" value="Submit">
<br>
</form>

{% if altlen > 0 %}
    <table>
        <tr>
            <th>Alternate Name</th>
            <th>Delete</th>
        </tr>
        {% for alt_name in alts %}
        <tr>
            <td>
                {{ alt_name.name }}
            </td>
            <td>
                <form action='alt-delete/' method="GET" autocomplete="off">
                    {% csrf_token %}

                    <input type="submit" value="Delete">
                    <input name='alt' type='text' value='{{ alt_name.name }}' style="display:none">
                </form>
            </td>

        </tr>
        {% endfor %}
    </table>
{% endif %}
</div>


{% endblock %}
